<% provide(:title, "Reset password") %>
<h1>Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email %>
    
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Update password", class: "btn btn-primary btn-block btn-lg" %>
      </div>
  
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>

  </div>
  
</div>
