<% provide(:title, "Log in") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary btn-block btn-lg" %>
      </div>
  
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>

  </div>
  
</div>
