<%= form_for(@micropost, html: {multipart: true}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
  </div>
  <div class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
<% end %>

<script>
  $("#micropost_picture").bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB, Please choose a smaller file.');
    }
  });
</script>