<% @user ||= current_user %>
<div class="row">
  <div class="col-xs-6">
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat"><%= @user.following.count %></strong>
      <span class="small">following</span>
    </a>
  </div>
  <div class="col-xs-6">
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat"><%= @user.followers.count %></strong>
      <span class="small">followers</span>
    </a>
  </div>
</div>