<h1>
  <%= link_to gravatar_for(current_user, size: 50), current_user %>
  <%= current_user.name %>
</h1>
<div><%= link_to "view my profile", current_user %></div>
<div><%= pluralize(current_user.microposts.count, "micropost") %></div>
