<li id="micropost-<%= micropost.id %>" class="media">
  <div class="media-left">
    <%= link_to gravatar_for(micropost.user, size: 50, class: "media-object"), micropost.user %>
  </div>
  <div class="media-body">
    <div class="user"><%= link_to micropost.user.name, micropost.user %></div>
    <div class="content">
      <%= micropost.content %>
      <% if micropost.picture? %>
        <div>
          <%= image_tag micropost.picture.url %>
        </div>
      <% end %>
    </div>
    <div class="small">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"}, class: "btn btn-xs btn-default" %>
      <% end %>
    </div>
  </div>
</li>