<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
      </div>
      <div class="col-md-6 text-right">
        <nav>
          <ul class="list-inline">
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://news.railstutorial.org/">News</a></li>
          </ul>
        </nav>
      </div>
    </div>    
  </div>
</footer>

