<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

  <% if Rails.env.development? %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <%= debug(params) %>
        </div>
      </div>
    </div>
  <% end %>
</body>
</html>
